/*body{
    background: linear-gradient(
        to right, 
        #243b5a,
        #2d496d,
        #374f6f
    );
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}
.container{
    background: rgb(188, 235, 250);
    border-radius: 16px;
    margin-top: 150px;
    padding: 40px 30px;
    width: 380px;
    box-shadow: 0 12px 25px rgb(0,0,0,0.1);
    text-align: center;
}
h2{
    margin-bottom: 20px;
    color:#243b5a;
}
form{
    display: flex;
    flex-direction: column;  
    gap: 16px;
}
input[type="email"],
input[type="password"],
input[type="conform password"],
input[type="name"]{
    padding: 12px;
    border-radius: 10px;
    transform: border 0.3s;
}
button{
    display: flex;
    justify-content: center;
    gap: 30px;
    border: none;
    border-radius: 12px;
    color:white ;
    background:#243b5a;
    box-shadow: 0 12px 25px rgb(0,0,0,0.1);
    padding: 10px;

}
button:hover{
    color:black ;
    background-color: white;
}*/

/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Body */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("backgroundmountain.jpg") no-repeat center / cover;

}

/* Glass card */
.wrapper {
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  padding: 30px;
  color: #fff;
}

/* Heading */
.wrapper h1 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 28px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Input box */
.input-box {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 18px;
}

/* Labels */
.input-box label {
  font-size: 14px;
  opacity: 0.9;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}

/* Inputs */
.input-box input {
  height: 45px;
  padding: 0 45px 0 15px;
  border-radius: 30px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.25);
  outline: none;
  color: #fff;
  font-size: 14px;
}

.input-box input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

/* Icon images */
.icon {
  position: absolute;
  right: 16px;
  top: 70%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  opacity: 0.8;
}

/* Button */
.btn {
  width: 100%;
  height: 45px;
  margin-top: 10px;
  border: none;
  border-radius: 30px;
  background: #ffffff;
  color: #333;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn:hover {
  background: #f1f1f1;
}
