body{
    background: linear-gradient(
        to right, 
        #243b5a,
        #2d496d,
        #2d435f   
    );
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}
.container{
    background: rgb(188, 235, 250);
    border-radius: 16px;
    padding: 40px 30px;
    width: 380px;
    box-shadow: 0 12px 25px rgb(0,0,0,0.1);
    text-align: center;
}
h2{
    margin-bottom: 20px;
    color: #243b5a;
}
form{
    display: flex;
    flex-direction: column;  
    gap: 16px;
}
input[type="email"],
input[type="password"]{
    padding: 12px;
    border-radius: 10px;
    transform: border 0.3s;
}
button{
    display: flex;
    justify-content: center;
    gap: 30px;
    border: none;
    border-radius: 12px;
    color:white ;
    background-color:#243b5a;
    box-shadow: 0 12px 25px rgb(0,0,0,0.1);
    padding: 10px;

}
button:hover{
    color:black ;
    background-color:rgb(255, 255, 255) ;
}

